<%- include("header") %> 


  <div>
    <h1 class="date-tittle"> <%= title %> </h1>
  </div>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>



  <div class="box">
    <% for(i = 0; i < newListItems.length; i++){ %>
      <div class="item">
        <input type="checkbox">
        <p> <%= newListItems[i] %> </p>
      </div>
    <% } %>

    <form class="item" method="POST" action="/">
      <input type="text" placeholder="New Item" name="newItem" autocomplete="off">
      <button name="list" type="submit" value= <%= listTitle %> >+</button>
    </form>


  </div>

  <%- include("footer") %> 

